.post__comments {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.post__commentTop {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post__commentAvatar {
  margin-right: 10px;
}

.post__commentTopInfo > p {
  font-size: small;
  color: #000;
}

.post__commentTopInfo {
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 20px;
}

.post__commentOptions {
  display: flex;
  font-size: small;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  margin: -12px 0px 2px 77px;
}

.post__commentOption {
  display: flex;
  margin: 0px 2px 0px 2px;
}

.post__commentOption > p:hover {
  text-decoration: underline;
}

.post__commentOptionDate{
  text-decoration: none;
  font-weight: 500;
}
